<h1>That's your article:</h1>
<ul>
  <li><%= @article.title %> -- <%= @article.content %></li>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article), method: :delete %>
  <%= link_to "Home", articles_path %>
</ul>

